@import 'compass/reset';
@import 'compass';

$accentColor: #ffb300;
$twitchColor: #623ca5;

// START PLAYER BUTTON
.player-button.TFP-PlayerBtn{
	margin-right:1rem;
	background-size: 20px;
    background-position: 5px 5px; 
	background-repeat:no-repeat;
	opacity:0.9;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAclBMVEVkPaiSeMOYfsabgsechMidhMieh8qgiMqgicuhisujjMyjjcykjs2lj82mkM6nkc6nks+ok8+plM6plM+qlc+rls+rl9Csl9CsmNGtmdGumtGumtKvm9KwndOxndP6+fz7+v39/f7+/f7+/v//swD///8rufdhAAAAuklEQVR4Ae3Vu26DQBCF4ZM7WRLCJYHY4MuynPd/RWtGK8uN2XEDDV81xfktFwhA+hcYZSMJkv4dJnkgCU8yOBgUQaZ41aJA0q/uP4EPOdgi4Z+y/5LTaTFg1kBRQpU0ahD90WSHqwMNjrhBA6wZTNEWrBNMd2zBssH2tK4eGCwbPPq672nSIepoVEM1FD1m6Z8OP3JWetZI2Ossj9/30SGp1SKD7P0bDCr9aZA8P8PkWwqQpycYuUBeADOQzjuv/emgAAAAAElFTkSuQmCC);
	&:hover{
		opacity:0.7;
	}
}
.player-button.pl-mg-r-1{
	margin-right:0 !important;
}
.CS_box{display:none}
// END PLAYER BUTTON
body:not(.TFP_isFullscreen) {
	.right-column, .video-chat{
		left:initial !important;
		top:initial !important;
		font-size: 12px;
	}
}

//START BASIC CHAT
body.TFP_isFullscreen{
    .CS_box{display:block}
	.right-column--theatre{
		z-index:9999999999999999;
	}
	.right-column, .video-chat{
		position:fixed !important;
		left:0;
		top:0;
		max-height:100% !important;
        max-width:100% !important;
        min-width:200px;
        min-height:300px;
		z-index:9999999999999999;
		width:250px;
        height:400px;
        overflow: hidden;
	}
	.channel-page__right-column{
		width:100%;
	}
}
//END BASIC CHAT


//START DEFAULT STYLING
body.TFP_isFullscreen{
	.chat-room__container, .video-chat{
        border:none;
        color: #19171c !important;
	}
	.room-selector__header, .video-chat__header{
        background:transparent;
        box-shadow: inset 0 -1px 0 0 rgba(#dad8de,0.3);
        cursor: move
    }
    .tw-textarea{
        background:transparent;
        border: 1px solid rgba(#dad8de,0.3);
        box-shadow:none;
	}
	.simplebar-scroll-content{
		margin-right:-26px;
		padding-left: 10px;
		overflow-y:auto;
	}
	.tw-button{
		padding: 3px 8px;
	}
    // .tw-button-icon--secondary{
    //     margin-top:-170%;
    // }
    .chat-line__message, .chat-line__moderation, .chat-line__status{
		padding-bottom: 8px !important;
		padding-right: 8px !important;
	}

    .tw-border-l, .tw-border-b, .tw-border-r, .tw-border-t{border:none !important}
    .right-column .tw-c-background-alt-2 {background: transparent !important; color: #19171c !important}

	&.TFP_darkTheme{
        .chat-room__container, .video-chat{
            color: #dad8de !important;
        }
        .room-selector__header .video-chat__header{
            box-shadow: inset 0 -1px 0 0 rgba(#2c2541, 0.3);
        }
        .tw-textarea{
            border: 1px solid  rgba(#392e5c, 0.3);
            color: #dad8de
        }
        .tw-c-text, .tw-c-text-alt{
            color: #dad8de !important
        }
        .video-chat__sync-button{
            background: black;
            color: #dad8de;
        }
        .chat-line__subscribe{
        	background-color:rgba(black,0.9);
        }
	}
}
//END DEFAULT STYLING

//START SETTINGS PANEL
body.TFP_isFullscreen{
	&.TFP_settingsOpen{
		.CS_box{
			pointer-events:auto;
		}
		.CS_box_content{
			@include transform(translateX(0%));
		}	
    }
    .TFP_chatButton{
		width: 17px;
	    height: 17px;
	    position: absolute;
	   	right: 0;
	    background: $accentColor;
	    z-index: 5;
	    cursor: pointer;
	    top:16px;
	    @include transition(background 0.2s, opacity 0.2s);
	    opacity:0.5;
	    &:hover{
	    	background: lighten($accentColor, 20%);
	    }
	    &.TFP_chatMinimize{    
		    right: 10px;
		}
	
	    &.TFP_chatSettings{
		    right: 90px;
	    	background-position:center;
	    	background-repeat:no-repeat;
	    	background-size: 70%;
	    	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAs0lEQVQY02P4z4AbInMs/4OAArqkzP9H/w3/p4Mlff77/r/6nx0heQUo+A8I/8Pp7QjJ6P/owAUiKfRf7H8mWGATUIDj/1EwO+g/P0hyDlTtr/88YFMUoPx3IMm5UM53iCP+S0P570GSEv+V/5eBuQvBklvB7Lz/2jAHeUFVfwPqhwBThGsvYLj2AEJSCajD538RWDjuf+L/T/9FkYOPEYitwZKaUB5a2Mr93/B/KdDfcBEAwFsWhnIu/UEAAAAASUVORK5CYII=);
	    }
	}
	.CS_box{
		z-index:20;
		position:absolute;
		overflow:hidden;
		padding: 0 40px 40px 0;
		left: 0;
		right: 0;
		top: 50px;
		margin: 0;
		padding-right: 0;
		pointer-events:none;
		@include transition(top 0.2s);
		.CS_box_content{
			width:100%;
			padding:20px;
			background:rgba($twitchColor,0.9);
			@include transition(all 0.2s);
			@include transform(translateY(-100%));
			.input_pair{
				@include display-flex;
				@include justify-content(space-between);
				padding-top:8px;
				margin-top:8px;
				border-top:1px solid rgba(0,0,0,0.2);
				&:first-of-type{
					border-top:none;
					margin-top:0;
					padding-top:0;
				}
			}
		}
		.input_label{
			white-space: nowrap;
			color:#fff;
            margin-bottom:0;
            text-transform: capitalize;
		}
	
		.checkbox_container {
		  width: 80px;
		  height: 26px;
		  background: #333;
		  position: relative;
		  border-radius: 50px;
		  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
		  &:after {
			content: 'OFF';
			color: #000;
			position: absolute;
			right: 10px;
			z-index: 0;
			font: 12px/26px Arial, sans-serif;
			font-weight: bold;
			text-shadow: 1px 1px 0px rgba(255,255,255,.15);
		  }
		  &:before {
			content: 'ON';
			color: $accentColor;
			position: absolute;
			left: 10px;
			z-index: 0;
			font: 12px/26px Arial, sans-serif;
			font-weight: bold;
		  }
		  label {
			display: block;
			width: 34px;
			height: 20px;
			cursor: pointer;
			position: absolute;
			top: 3px;
			left: 3px;
			z-index: 1;
			background: #fcfff4;
			background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
			border-radius: 50px;
			transition: all 0.4s ease;
			box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
		  }
		  input[type=checkbox] {
			visibility: hidden;
			&:checked + label {
			  left: 43px;
			}
		  }    
		}
	
		//input range design
		input[type=range] {
		  -webkit-appearance: none;
		  width: 40%;
		  margin: 1.2px 0;
		  background:transparent;
		}
		input[type=range]:focus {
		  outline: none;
		}
		input[type=range]::-webkit-slider-runnable-track {
		  width: 100%;
		  height: 1px;
	
		  cursor: pointer;
		  background: rgba(243, 240, 242, 0.35);
		  border-radius: 20px;
		}
		input[type=range]::-webkit-slider-thumb {
		  height: 10px;
		  width: 10px;
		  border-radius: 50px;
		  background: $accentColor;
		  cursor: pointer;
		  -webkit-appearance: none;
		  margin-top: -3.2px;
		}
		input[type=range]:focus::-webkit-slider-runnable-track {
		  background: rgba(254, 254, 254, 0.55);
		}
    }
    
    &.TFP_settingsOpen{
		.CS_box{
			pointer-events:auto;
		}
		.CS_box_content{
			@include transform(translateX(0%));
		}	
	}
}
//END SETTINGS PANEL

//START SLIM MODE
body.TFP_isFullscreen{
    &.TFP_slimMode{
        .right-column, .video-chat{
            .room-selector__header, .video-chat__header{
                height:3rem;
                margin-top:-3rem;
                transition: all .2s .5s;
            }
            .video-chat__header{
                flex: 0 0 3rem;
                transition: all .2s .5s;
            }
            .TFP_chatButton{
                top:-3rem;
                transition: all .2s .5s;
            }
            .CS_box{
                top:0rem;
                transition: all .2s .5s;
            }
            .chat-input, .video-chat__input{
                padding-left: 0 !important;
                padding-right: 0 !important;
                padding-bottom: 0 !important;
                transition: all .2s .5s;
                margin-bottom:-75px;
            }
            .video-chat__sync-button{
                left:0;
                width:100%;
            }
            .video-chat__input{
                box-shadow:none !important;
                padding-top: 0 !important;
            }
            .tw-textarea{
                height:3.2rem;
                border-left-width: 0;
				border-right-width: 0;
				padding: 5px;
            }
            .chat-buttons-container{
                padding:1rem;
                padding-top:0;
            }
            &:hover{
                .room-selector__header, .video-chat__header{
                    margin-top:0rem;
                    transition: all .2s 0s;
                }
                .TFP_chatButton{
                    top:6px;
                    transition: all .2s 0s;
                }
                .CS_box{
                    top:3rem;
                    transition: all .2s 0s;
                }
                .chat-input, .video-chat__input{
                    margin-bottom:0rem;
                    transition: all .2s 0s;
                }
            }
        }
        
    }
}
//END SLIM MODE

//START HIDE STICKY
body.TFP_isFullscreen{
    &.TFP_hideSticky{
        .pinned-cheer, .pinned-cheer-v2 {display:none}
    }
}


//JQUERY UI RESIZABLE
.ui-resizable-handle{
    width:15px;
    height:15px;
    position:absolute;
    cursor:nwse-resize;

}
.ui-resizable-handle.ui-icon-gripsmall-diagonal-se{
    bottom:0;
    right:0;
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAElBMVEUAAAAAAAD///9ycnKmpqbDw8NP6HFHAAAABnRSTlMAZmaMqL1duDaXAAAANElEQVR4AWOgLWBkwSXOhEucaQDFmVlwiDMz4RJnGhhxKIVLnAlVnIUZQUEAK4TFjKCoCwAVoAEkUgxjHAAAAABJRU5ErkJggg==);

}

.ui-resizable-handle.ui-resizable-e{
    display:none;
}

.ui-resizable-handle.ui-resizable-s{
    display:none;
}