/* line 5, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/styles.scss */
.fsContainer {
  color: #fff;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 5px;
  position: relative;
  height: 25px;
}

/* line 14, ../sass/styles.scss */
.fsContainer .loading {
  display: none;
}

/* line 18, ../sass/styles.scss */
.fsContainer.disabled .loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: red;
}

/* line 31, ../sass/styles.scss */
.fsContainer .fullscreenBtn {
  height: 100%;
  text-align: center;
  width: 50px;
  border-left: 1px solid #fff;
  cursor: pointer;
  background: #6441a4;
  line-height: 25px;
}

/* line 42, ../sass/styles.scss */
body.TFCO_fullScreenMode #right_col, body.TFCO_fullScreenMode .app-main.theatre #right_col {
  z-index: 9999999999;
  background: transparent;
  bottom: initial;
  right: initial;
  height: 50%;
  min-width: 250px;
  min-height: 235px;
}

/* line 52, ../sass/styles.scss */
body.TFCO_fullScreenMode .chat-container, body.TFCO_fullScreenMode .chat-container.dark, body.TFCO_fullScreenMode .app-main.theatre .chat-container, body.TFCO_fullScreenMode .chat-container.force-dark, body.TFCO_fullScreenMode .ember-chat-container.dark, body.TFCO_fullScreenMode .app-main.theatre .ember-chat-container, body.TFCO_fullScreenMode .ember-chat-container.force-dark {
  background: rgba(0, 0, 0, 0.3);
  color: #dfdfdf;
  box-shadow: none;
}

/* line 57, ../sass/styles.scss */
body.TFCO_fullScreenMode textarea, body.TFCO_fullScreenMode .theatre .ember-chat .chat-interface .textarea-contain textarea {
  background: transparent;
  pointer-events: auto;
  color: #dfdfdf;
}

/* line 62, ../sass/styles.scss */
body.TFCO_fullScreenMode .ember-chat .chat-messages .chat-line.admin .message, body.TFCO_fullScreenMode .ember-chat .chat-messages .chat-line.notification .message {
  color: #afafaf;
}

/* line 66, ../sass/styles.scss */
body.TFCO_fullScreenMode .theatre .player-controls-bottom, .theatre .player[data-controls=true] .player-controls-bottom {
  padding-bottom: 0;
}

/* line 70, ../sass/styles.scss */
body.TFCO_fullScreenMode .special-message {
  background: rgba(0, 0, 0, 0.3);
  border: none;
}

/* line 75, ../sass/styles.scss */
body.TFCO_fullScreenMode .emoticon-selector-toggle svg path, body.TFCO_fullScreenMode .bits-toggle path {
  fill: #6441a4;
}

/* line 78, ../sass/styles.scss */
body.TFCO_fullScreenMode .room-title {
  color: #dfdfdf;
}

/* line 81, ../sass/styles.scss */
body.TFCO_fullScreenMode .ui-resizable-handle {
  width: 15px;
  height: 15px;
  position: absolute;
}

/* line 88, ../sass/styles.scss */
body.TFCO_fullScreenMode .ui-resizable-handle.ui-icon-gripsmall-diagonal-se {
  bottom: 0;
  right: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAElBMVEUAAAAAAAD///9ycnKmpqbDw8NP6HFHAAAABnRSTlMAZmaMqL1duDaXAAAANElEQVR4AWOgLWBkwSXOhEucaQDFmVlwiDMz4RJnGhhxKIVLnAlVnIUZQUEAK4TFjKCoCwAVoAEkUgxjHAAAAABJRU5ErkJggg==);
}

/* line 98, ../sass/styles.scss */
body.TFCO_fullScreenMode .ui-resizable-handle.ui-resizable-e {
  display: none;
}

/* line 102, ../sass/styles.scss */
body.TFCO_fullScreenMode .ui-resizable-handle.ui-resizable-s {
  display: none;
}

/* line 106, ../sass/styles.scss */
.CS_box {
  z-index: 5;
  position: absolute;
  left: 100%;
  background: Red;
}

/* line 114, ../sass/styles.scss */
body.TFCO_fullScreenMode .TFCO_chatButton {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  background: #6441a4;
  z-index: 5;
}
/* line 121, ../sass/styles.scss */
body.TFCO_fullScreenMode .TFCO_chatButton.TFCO_chatMinimize {
  top: 0;
}
/* line 122, ../sass/styles.scss */
body.TFCO_fullScreenMode .TFCO_chatButton.TFCO_chatSettings {
  top: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAs0lEQVQY02P4z4AbInMs/4OAArqkzP9H/w3/p4Mlff77/r/6nx0heQUo+A8I/8Pp7QjJ6P/owAUiKfRf7H8mWGATUIDj/1EwO+g/P0hyDlTtr/88YFMUoPx3IMm5UM53iCP+S0P570GSEv+V/5eBuQvBklvB7Lz/2jAHeUFVfwPqhwBThGsvYLj2AEJSCajD538RWDjuf+L/T/9FkYOPEYitwZKaUB5a2Mr93/B/KdDfcBEAwFsWhnIu/UEAAAAASUVORK5CYII=);
}

/* line 132, ../sass/styles.scss */
body.TFCO_fullScreenMode .TFCO_chatMinimize:before {
  content: '';
  height: 2px;
  width: 8px;
  background: white;
  position: absolute;
  top: 7px;
  left: 4px;
  display: block;
}

/* line 143, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_minimized .TFCO_chatMinimize {
  position: fixed;
  right: 0;
  top: calc(50% - 8px);
  box-shadow: 0 0 10px black;
}
/* line 149, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_minimized .TFCO_chatSettings {
  display: none;
}

/* line 154, ../sass/styles.scss */
body.TFCO_fullScreenMode .TFCO_chatMinimize:after {
  content: '';
  height: 8px;
  width: 2px;
  background: white;
  position: absolute;
  top: 4px;
  left: 7px;
  opacity: 0;
}

/* line 165, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_minimized .TFCO_chatMinimize:after {
  opacity: 1;
}

/* line 168, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_minimized .rightcol-content {
  height: 0;
  overflow: hidden;
  pointer-events: none;
}

/* line 174, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_minimized .ui-resizable-handle {
  opacity: 0;
  pointer-events: none;
}

/* line 179, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_minimized #right_col {
  height: 16px !important;
  min-height: 16px !important;
}
