/* line 5, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/styles.scss */
.fsContainer {
  color: #fff;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 5px;
  position: relative;
  height: 25px;
  margin-bottom: 5px;
}
/* line 15, ../sass/styles.scss */
.fsContainer .fullscreenBtn {
  height: 100%;
  text-align: center;
  cursor: pointer;
  background: #623ca5;
  line-height: 25px;
  padding: 0 10px;
  position: relative;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 24, ../sass/styles.scss */
.fsContainer .fullscreenBtn:hover {
  background: #9879ce;
}
/* line 29, ../sass/styles.scss */
.fsContainer .fullscreenBtn:before {
  content: '';
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAVFBMVEX////h2u/d1OzMwOLKvuHHut/Bs9yyoNOsmdCmkc2WfcOTesKOc7+IbLt6W7N2VrFzUq9vTK1rR6poRKlmQadiPKVjPaViPKVkPqaxntL/swD///9MpiyaAAAAF3RSTlMABgwgIiYsQEZOYmZsdIWJjZOZm5+jo4C98GYAAACeSURBVHja7dK5DsJQEENRs+87w0D4//9EID2MEqyYhgLi+p6pBvflB/sauHr7cVA91gEFqsY68HevcTEBewG4Zn8msPqYEFj9AgROvwaB0eceBE5/GhA4fUzxBByb+mIJDdhzGwgg+kNPANHHCAKIfgYBRL+CBuy5LSR42x/7NRBlmaWP140hFlny3RDtI4g5vAXPm4DnTcDzNmg9fwP2D7KydeNIjwAAAABJRU5ErkJggg==);
  height: 27px;
  width: 28px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: -20px;
  top: 0px;
}

/* line 44, ../sass/styles.scss */
.player-button.TFCO-PlayerBtn {
  background-size: 23px;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAdVBMVEX////h2u/d1OzTyObMwOLKvuHMwOLHut/Bs9zGuN6yoNOsmdCmkc2WfcOTesKchceOc7+WfcOIbLt6W7N2VrFzUq9vTK1rR6poRKlmQadiPKVjPaVuS6xrR6pnQqhiPKViPKVkPqZlQKeQdcCxntL/swD///88wTzgAAAAIHRSTlMABgwbICIkJiwtQEZOYmZmbG90hYmNk5mbn6Ojp6ywt3+AY/wAAAC/SURBVHja7dLHDsJADEVR03vvpsSU8P+fSBSJSQRzRbwF3mY291hZRLIdzLGsbyROMDEnOGbPvdpy0E6cYGZOcHKCXuIEV4uCNF8MXLzAvhGkb/sDsR/7NW5VQegBhEX6MwDqtQ+A+rEAgH4hAVTpbSMAoN83AUCvAwmgWNG8TqcSA9jbUgBAv60BgF47AgD6oQCAfi4Eor2tBEG039VLQMsze/ZaXldgGr553YoGBHQk1aZwngGcZ4DnGXw8/wD8Aw1WPQF+fAAAAABJRU5ErkJggg==);
}
/* line 49, ../sass/styles.scss */
.player-button.TFCO-PlayerBtn:hover {
  opacity: 0.9;
}

/* line 57, ../sass/styles.scss */
body.TFCO_fullScreenMode #right_col, body.TFCO_fullScreenMode .app-main.theatre #right_col {
  z-index: 9999999999 !important;
  background: transparent;
  bottom: initial;
  right: initial;
  height: 50%;
  min-width: 250px;
  min-height: 235px;
}
/* line 66, ../sass/styles.scss */
body.TFCO_fullScreenMode .tab-container {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.85;
}
/* line 71, ../sass/styles.scss */
body.TFCO_fullScreenMode .chat-container, body.TFCO_fullScreenMode .chat-container.dark, body.TFCO_fullScreenMode .app-main.theatre .chat-container, body.TFCO_fullScreenMode .chat-container.force-dark, body.TFCO_fullScreenMode .ember-chat-container.dark, body.TFCO_fullScreenMode .app-main.theatre .ember-chat-container, body.TFCO_fullScreenMode .ember-chat-container.force-dark {
  background: transparent;
  color: #dfdfdf;
  box-shadow: none;
  border: none;
}
/* line 78, ../sass/styles.scss */
body.TFCO_fullScreenMode textarea, body.TFCO_fullScreenMode .theatre .ember-chat .chat-interface .textarea-contain textarea {
  background: transparent;
  pointer-events: auto;
  color: #dfdfdf;
  border-color: rgba(255, 255, 255, 0.2);
}
/* line 85, ../sass/styles.scss */
body.TFCO_fullScreenMode .ember-chat .chat-messages .chat-line.admin .message, body.TFCO_fullScreenMode .ember-chat .chat-messages .chat-line.notification .message {
  color: #afafaf;
}
/* line 89, ../sass/styles.scss */
body.TFCO_fullScreenMode .ember-chat .chat-header {
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
  background: transparent;
  cursor: move;
}
/* line 93, ../sass/styles.scss */
body.TFCO_fullScreenMode .ember-chat .chat-header:hover {
  background: rgba(200, 200, 200, 0.1);
}
/* line 99, ../sass/styles.scss */
body.TFCO_fullScreenMode .theatre .player-controls-bottom, body.TFCO_fullScreenMode .theatre .player[data-controls=true] .player-controls-bottom {
  padding-bottom: 0;
}
/* line 103, ../sass/styles.scss */
body.TFCO_fullScreenMode .special-message {
  background: rgba(0, 0, 0, 0.3);
  border: none;
}
/* line 107, ../sass/styles.scss */
body.TFCO_fullScreenMode .sticky-message--pinned-cheers, body.TFCO_fullScreenMode .pinned-cheer__hack-box {
  background: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 112, ../sass/styles.scss */
body.TFCO_fullScreenMode .emoticon-selector-toggle svg path, body.TFCO_fullScreenMode .bits-toggle path {
  fill: #623ca5;
}
/* line 115, ../sass/styles.scss */
body.TFCO_fullScreenMode .room-title {
  color: #dfdfdf;
}
/* line 118, ../sass/styles.scss */
body.TFCO_fullScreenMode .ui-resizable-handle {
  width: 15px;
  height: 15px;
  position: absolute;
  cursor: nwse-resize;
}
/* line 125, ../sass/styles.scss */
body.TFCO_fullScreenMode .ui-resizable-handle.ui-icon-gripsmall-diagonal-se {
  bottom: 0;
  right: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAElBMVEUAAAAAAAD///9ycnKmpqbDw8NP6HFHAAAABnRSTlMAZmaMqL1duDaXAAAANElEQVR4AWOgLWBkwSXOhEucaQDFmVlwiDMz4RJnGhhxKIVLnAlVnIUZQUEAK4TFjKCoCwAVoAEkUgxjHAAAAABJRU5ErkJggg==);
}
/* line 135, ../sass/styles.scss */
body.TFCO_fullScreenMode .ui-resizable-handle.ui-resizable-e {
  display: none;
}
/* line 139, ../sass/styles.scss */
body.TFCO_fullScreenMode .ui-resizable-handle.ui-resizable-s {
  display: none;
}
/* line 142, ../sass/styles.scss */
body.TFCO_fullScreenMode .message-line {
  cursor: text;
}
/* line 146, ../sass/styles.scss */
body.TFCO_fullScreenMode .TFCO_chatButton {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 0;
  background: #ffb300;
  z-index: 5;
  cursor: pointer;
  top: 16px;
  -moz-transition: background 0.2s, top 0.2s;
  -o-transition: background 0.2s, top 0.2s;
  -webkit-transition: background 0.2s, top 0.2s;
  transition: background 0.2s, top 0.2s;
}
/* line 156, ../sass/styles.scss */
body.TFCO_fullScreenMode .TFCO_chatButton:hover {
  background: #ffd166;
}
/* line 159, ../sass/styles.scss */
body.TFCO_fullScreenMode .TFCO_chatButton.TFCO_chatMinimize {
  right: 10px;
}
/* line 162, ../sass/styles.scss */
body.TFCO_fullScreenMode .TFCO_chatButton.TFCO_chatSettings {
  right: 31px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAs0lEQVQY02P4z4AbInMs/4OAArqkzP9H/w3/p4Mlff77/r/6nx0heQUo+A8I/8Pp7QjJ6P/owAUiKfRf7H8mWGATUIDj/1EwO+g/P0hyDlTtr/88YFMUoPx3IMm5UM53iCP+S0P570GSEv+V/5eBuQvBklvB7Lz/2jAHeUFVfwPqhwBThGsvYLj2AEJSCajD538RWDjuf+L/T/9FkYOPEYitwZKaUB5a2Mr93/B/KdDfcBEAwFsWhnIu/UEAAAAASUVORK5CYII=);
}
/* line 172, ../sass/styles.scss */
body.TFCO_fullScreenMode .TFCO_chatMinimize:before {
  content: '';
  height: 2px;
  width: 8px;
  background: white;
  position: absolute;
  top: 7px;
  left: 4px;
  display: block;
}
/* line 182, ../sass/styles.scss */
body.TFCO_fullScreenMode .TFCO_chatMinimize:after {
  content: '';
  height: 8px;
  width: 2px;
  background: white;
  position: absolute;
  top: 4px;
  left: 7px;
  opacity: 0;
}
/* line 194, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_minimized .TFCO_chatMinimize {
  position: fixed;
  right: 0;
  top: calc(50% - 8px);
}
/* line 198, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_minimized .TFCO_chatMinimize:after {
  opacity: 1;
}
/* line 202, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_minimized .TFCO_chatSettings {
  display: none;
}
/* line 205, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_minimized .rightcol-content {
  height: 0;
  overflow: hidden;
  pointer-events: none;
}
/* line 210, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_minimized .ui-resizable-handle {
  opacity: 0;
  pointer-events: none;
}
/* line 214, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_minimized .CS_box {
  opacity: 0;
  pointer-events: none;
}
/* line 218, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_minimized #right_col {
  height: 16px !important;
  min-height: 16px !important;
  background-color: transparent !important;
}
/* line 222, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_minimized #right_col:before {
  position: fixed;
  content: '';
  border-radius: 50%;
  width: 100px;
  height: 130px;
  right: 0;
  top: 50%;
  background: black;
  opacity: 0.5;
  pointer-events: none;
  -moz-transform: translate(65%, -50%);
  -ms-transform: translate(65%, -50%);
  -webkit-transform: translate(65%, -50%);
  transform: translate(65%, -50%);
}
/* line 238, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_settingsOpen .CS_box {
  pointer-events: auto;
}
/* line 241, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_settingsOpen .CS_box_content {
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
/* line 246, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_hideSticky .sticky-message--pinned-cheers, body.TFCO_fullScreenMode.TFCO_hideSticky .pinned-cheer__hack-box {
  display: none !important;
}
/* line 249, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_hideSticky .ember-chat .chat-messages {
  top: 0 !important;
}
/* line 254, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_slimMode .ember-chat .chat-messages {
  bottom: 30px;
}
/* line 257, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_slimMode .ember-chat .chat-interface {
  height: 30px !important;
}
/* line 260, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_slimMode button.qa-chat-buttons__submit {
  display: none;
}
/* line 263, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_slimMode .ember-chat .chat-interface .chat-buttons-container {
  padding-top: 0;
}
/* line 266, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_slimMode .ember-chat .chat-header {
  padding: 0;
  height: 30px;
}
/* line 270, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_slimMode .ember-chat .chat-header .chat-header__button {
  top: 0;
}
/* line 273, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_slimMode .ember-chat .chat-interface .textarea-contain {
  display: none;
}
/* line 276, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_slimMode .ember-chat .chat-room, body.TFCO_fullScreenMode.TFCO_slimMode .ember-chat .chat-rooms {
  top: 30px;
}
/* line 279, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_slimMode .TFCO_chatButton {
  top: 6px;
}
/* line 282, ../sass/styles.scss */
body.TFCO_fullScreenMode.TFCO_slimMode .CS_box {
  top: 30px;
}
/* line 288, ../sass/styles.scss */
body.TFCO_fullScreenMode #chat_lines_list, body.TFCO_fullScreenMode #chat_lines, body.TFCO_fullScreenMode .ember-chat, body.TFCO_fullScreenMode .ember-view.ember-chat.roomMode, body.TFCO_fullScreenMode .chat-container, body.TFCO_fullScreenMode .ember-chat-container, body.TFCO_fullScreenMode #channel-prompt, body.TFCO_fullScreenMode .ember-chat .chat-messages, body.TFCO_fullScreenMode #chat_text_input, body.TFCO_fullScreenMode #chat_text_login, body.TFCO_fullScreenMode .ember-chat .chat-interface textarea {
  background: transparent !important;
}
/* line 291, ../sass/styles.scss */
body.TFCO_fullScreenMode #right_col, body.TFCO_fullScreenMode #right_col .content .top #right_nav, body.TFCO_fullScreenMode #right_col .content .top, body.TFCO_fullScreenMode #right_col .content .bottom #controls, body.TFCO_fullScreenMode .rightcol-content, body.TFCO_fullScreenMode #right_col .top #right_nav, body.TFCO_fullScreenMode #right_col .top, body.TFCO_fullScreenMode #right_col .bottom #controls, body.TFCO_fullScreenMode .ember-chat .chat-interface {
  background: transparent !important;
}
/* line 294, ../sass/styles.scss */
body.TFCO_fullScreenMode .rightcol-content {
  background: transparent !important;
  z-index: initial;
}
/* line 298, ../sass/styles.scss */
body.TFCO_fullScreenMode .chat-lines .notice {
  background: rgba(35, 35, 35, 0.6) !important;
}
/* line 301, ../sass/styles.scss */
body.TFCO_fullScreenMode #bttvSettingsPanel, body.TFCO_fullScreenMode .emote-menu {
  z-index: 9999999999 !important;
}
/* line 304, ../sass/styles.scss */
body.TFCO_fullScreenMode #bttv-channel-state-contain {
  top: -20px;
}
/* line 307, ../sass/styles.scss */
body.TFCO_fullScreenMode .ember-chat .chat-messages .chat-line {
  background-color: transparent;
}

/* line 319, ../sass/styles.scss */
.CS_box {
  z-index: 5;
  position: absolute;
  overflow: hidden;
  padding: 0 40px 40px 0;
  left: 0;
  right: 0;
  top: 50px;
  margin: 0;
  padding-right: 0;
  pointer-events: none;
  -moz-transition: top 0.2s;
  -o-transition: top 0.2s;
  -webkit-transition: top 0.2s;
  transition: top 0.2s;
}
/* line 331, ../sass/styles.scss */
.CS_box .CS_box_content {
  width: 100%;
  padding: 20px;
  background: rgba(98, 60, 165, 0.9);
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
/* line 337, ../sass/styles.scss */
.CS_box .CS_box_content .input_pair {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 8px;
  margin-top: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 343, ../sass/styles.scss */
.CS_box .CS_box_content .input_pair:first-of-type {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
/* line 350, ../sass/styles.scss */
.CS_box .input_label {
  white-space: nowrap;
  color: #fff;
  margin-bottom: 0;
}
/* line 356, ../sass/styles.scss */
.CS_box .checkbox_hide_sticky, .CS_box .checkbox_slim_mode {
  width: 80px;
  height: 26px;
  background: #333;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
/* line 363, ../sass/styles.scss */
.CS_box .checkbox_hide_sticky:after, .CS_box .checkbox_slim_mode:after {
  content: 'OFF';
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
/* line 373, ../sass/styles.scss */
.CS_box .checkbox_hide_sticky:before, .CS_box .checkbox_slim_mode:before {
  content: 'ON';
  color: #ffb300;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
/* line 382, ../sass/styles.scss */
.CS_box .checkbox_hide_sticky label, .CS_box .checkbox_slim_mode label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
/* line 397, ../sass/styles.scss */
.CS_box .checkbox_hide_sticky input[type=checkbox], .CS_box .checkbox_slim_mode input[type=checkbox] {
  visibility: hidden;
}
/* line 399, ../sass/styles.scss */
.CS_box .checkbox_hide_sticky input[type=checkbox]:checked + label, .CS_box .checkbox_slim_mode input[type=checkbox]:checked + label {
  left: 43px;
}
/* line 406, ../sass/styles.scss */
.CS_box input[type=range] {
  -webkit-appearance: none;
  width: 40%;
  margin: 1.2px 0;
  background: transparent;
}
/* line 412, ../sass/styles.scss */
.CS_box input[type=range]:focus {
  outline: none;
}
/* line 415, ../sass/styles.scss */
.CS_box input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: rgba(243, 240, 242, 0.35);
  border-radius: 20px;
}
/* line 423, ../sass/styles.scss */
.CS_box input[type=range]::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: #ffb300;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.2px;
}
/* line 432, ../sass/styles.scss */
.CS_box input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(254, 254, 254, 0.55);
}
